<h1>The future is here.</h1>

<div class="span8">
  <table class="table">
    <tr>
      <th>Label</th>
      <td><%= @object.label %></td>
    </tr>
    <tr>
      <th>Owner</th>
      <td><%= @object.owner %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @object.created %></td>
    </tr>
    <tr>
      <th>Modified</th>
      <td><%= @object.modified %></td>
    </tr>
  </table>

  <h2>Datastreams:</h2>
  <ul>
  <% @object.datastreams.each do |ds| %>
    <li><%= link_to ds.name, fedora_object_datastream_path(@object, ds) %></li>
  <% end %>
  </ul>
</div>

